/* game board table */

td {
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 80%;
}

.effects:hover {
  background-color: gold;
}

.p1,
.p2 {
  animation: drop 1s;
  animation-iteration-count: 1;
}

@keyframes drop {
  0% {
    transform: translate(0, -800px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.p1 {
  background-color: red;
}
.p2 {
  background-color: blue;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

/* TODO: make column-top row lighter and provide hover effect */
